<!-- DASHBOARD -->

<div class="wrapper">
    <div class="container">
        <section class="row">
            <h1>{{ title }}</h1>
        </section>
        <section class="row bg- dashboard shadow-lg ">
            <div class="col-sm-12 col-lg-12">
                <p>lorem ipsum dolor sit amet, consectetur adip lomrepeat lorem ipsum dolor lorem ipsum dolor lorem
                    ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, quas, totam. Accusantium architecto dolores ducimus, ea, eos eveniet expedita magnam maiores necessitatibus pariatur perferendis quam qui rerum sit ut velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut et fugit optio voluptas voluptate. Adipisci alias, aliquam animi, aperiam cumque doloremque, in incidunt nostrum numquam sequi sint voluptate voluptates.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut dolore, explicabo fugiat harum illo itaque, laboriosam laborum magni maxime nulla perferendis placeat quaerat qui quia, tempora tenetur? Molestiae, quisquam.explicabo fugiat harum illo itaque, laboriosam laborum magni maxime nulla perferendis placeat quaerat qui quia, tempora tenetur? Molestiae, quisquam.lor sit amet, consectetur adipisicing elit. Aliquid aut et fugit optio voluptas voluptate. Adipisci alias, aliquam animi, aperiam cumque doloremqu</p>
            </div>
        </section>
    </div>
</div>
