<div class="px-3 py-2 mb-0 bg-light secondary-nav">
    <div class="container d-flex flex-wrap justify-content-center">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
            <!-- TODO: Make search dynamic &s consider Algolia-->
            <input id="appSearch"
                   type="search"
                   class="form-control"
                   placeholder="Search..."
                   aria-label="Search"
                   (keydown)=searchSite($event)
                   *ngIf="isLoggedIn"
            />
        </form>

        <div class="text-end">
            <button type="button"
                    class="btn btn-light text-secondary me-2" *ngIf="!isLoggedIn">Login
            </button>
            <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" class="btn mgn-pink-btn" *ngIf="isLoggedIn">
                <i class="fa fa-gift"></i>&nbsp;Add Gift
            </button>
        </div>
    </div>
</div>

<div class="px-3 py-2 mb-3 bg-light text-secondary main-nav" *ngIf="isLoggedIn">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-secondary text-decoration-none">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                    <h2><i class="far fa-gift"></i>&nbsp;
                        <span class="fs-4 logo-text">My Gift Network</span></h2>
                </a>
            </a>

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                    <a [routerLink]="['/']" class="nav-link text-secondary text-center">
                        <h3><i class="bi bi-gift-fill"></i><br/></h3>
                        Add Gift
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard']" class="nav-link text-secondary text-center">
                        <h3><i class="bi bi-grid-1x2-fill"></i></h3>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/following']" class="nav-link text-secondary text-center">
                        <h3><i class="bi bi-emoji-heart-eyes-fill"></i></h3>
                        Following
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/followers']" class="nav-link text-secondary text-center">
                        <h3><i class="bi bi-emoji-sunglasses-fill"></i></h3>
                        Followers
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/account']" class="nav-link text-secondary text-center">
                        <h3><i class="bi bi-gear-fill"></i></h3>
                        Account
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
